<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title animated fadeIn">
        Credits
      </h1>
      <h2 class="subtitle animated fadeIn delay-1s">
        Here's the faces that made all this possible.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-multiline animated fadeIn delay-1s">

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="../../assets/Egypt.png" alt="Egypt Amaru">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Egypt Amaru</p>
              <p class="subtitle is-6">
                <a href="https://github.com/EgyptAmaru">@EgyptAmaru</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="../../assets/stewart.jpg" alt="Stewart Dulaney">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Stewart Dulaney</p>
              <p class="subtitle is-6">
                <a href="https://github.com/sdulaney">@sdulaney</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="../../assets/torin.jpg" alt="Torin Foss">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Torin Foss</p>
              <p class="subtitle is-6">
                <a href="https://github.com/trfoss">@trfoss</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="../../assets/tejas.jpg" alt="Tejas Shah">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Tejas Shah</p>
              <p class="subtitle is-6">
                <a href="https://github.com/tejashah88">@tejashah88</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <img src="../../assets/Andrew.jpg" alt="Andrew Zhu">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Andrew Zhu</p>
              <p class="subtitle is-6">
                <a href="https://github.com/mommothazaz123">@mommothazaz123</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="has-text-centered animated fadeIn delay-2s">
    <a class="icon is-medium" href="https://github.com/CruzHacks2019">
      <i class="fab fa-2x fa-github"></i>
    </a>
  </div>

</section>

