<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title animated fadeIn">
        History
      </h1>
      <h2 class="subtitle animated fadeIn delay-1s">
        See the faces you've seen in the past.
      </h2>
    </div>
  </div>
</section>

<section class="section columns">
  <div class="column is-2"></div> <!-- for spacing -->
  <div class="column is-8">
    <div class="container animated fadeIn"
         *ngFor="let face of (meets | async)?.sort(meetSort); even as even; odd as odd">
      <div class="columns">
        <div class="column is-4" *ngIf="even">
          <img [src]="face.imgUrls" class="imageee animated fadeIn">
        </div>
        <div class="column is-4 whoami">
          <div [ngClass]="odd ? 'is-pulled-right' : 'is-pulled-left'" class="notification is-info">
            <p>
              You met {{getFace(face).name}}, {{getFace(face).userData}}.
            </p>
            <div class="smol">{{getTime(face)}}</div>
          </div>
        </div>
        <div class="column is-4" *ngIf="odd">
          <img [src]="face.imgUrls" class="imageee animated fadeIn">
        </div>
      </div>

      <hr class="line">
    </div>

    <p class="has-text-centered text-muted">Looks like that's everyone. Go meet some new faces!</p>
  </div>
  <div class="column is-2"></div> <!-- shh -->
</section>

